body {
 font-family: arial;
 font-size: 13px;
 color:#000;
}
#wrapper {
	width: 550px;
	height: 430px;

}

.dragAnswer {
	width: 95px;
	height: 46px;
	cursor: pointer;
}
#allAnswers {
float:left;
width:90px;
margin-left:120px;
}
#allQuestions {
	float: right;
	margin-top:6px;
	width:320px;
}
#doubleLine {
	font-weight:bold;
	padding: 3px 0px 0px 30px;
}
#incorrect {display:none;}
#correct{display:none;}
#reset {
	padding: 10px 20px;
	font-weight: bold;
}
.instructions {font-style: italic;}
#a1 {background-image: url('step1.png');}
#a2 {background-image: url('step2.png');}
#a3 {background-image: url('step3.png');}
#a4 {background-image: url('step4.png');}
#a5 {background-image: url('step5.png');}
#a6 {background-image: url('step6.png');}
#a7 {background-image: url('step7.png');}

.dropAnswer {
	width: 82px;
	height: 37px;
	background-image: url('drag.png');

	
}

.dropAnswerActive {
	background-image: url('drag-over.png');
	width: 82px;
	height: 37px;
}

.answers {
	padding-right: 10px;
}

.questionAnswer {
	width: 90px;
	margin-bottom:9px;
}
.questionText {
	width:260px;
	float:right;
}


.correctImage {
    background-image: url('correct.png');
    width: 29px;
    height: 28px;
    position: absolute;
    left:300px;
    z-index: 40;
}

.wrongImage {
    background-image: url('incorrect.png');
    width: 29px;
    height: 28px;
    position: absolute;
    left:300px;
    z-index: 40;
}
.exampleLabel {
  margin-top:20px;
  font-size:14px;
  font-weight:bold;
} 
.answerTitle {
	font-weight: bold;
	padding: 10px 0px 0px 30px;
}
#answersCorrect {
	position: absolute;
	top: 46px;
	width: 195px;
	height: 290px;
	display: none;
    padding:10px;
	border: 2px solid #cdcdcd;
	left: 8px;
    background-color:#efefef;
    font-style: italic;
    font-weight: bold;
}